.govuk-panel--information {
  color: govuk-colour("white");
  background: govuk-colour("blue");

  @include govuk-media-query($media-type: print) {
    border-color: currentcolor;
    color: $govuk-print-text-colour;
    background: none;
  }

  .govuk-body {
    color: govuk-colour("white");
    text-align: left;
  }
}
