@import "node_modules/govuk-frontend/dist/govuk/core/index";

$selector: dsn-comment-head;

.#{$selector} {
  display: flex;
  flex-direction: row;
  gap: govuk-spacing(4);

  &--inverted {
    .#{$selector}__content {
      color: govuk-colour("white");
    }
    .#{$selector}__link {
      @include govuk-link-style-inverse;
    }
  }

  &__image {
    background-color: govuk-colour("light-grey");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 57px;
  }

  &__link {
    @extend %govuk-link;
    font-weight: bold;
    @include govuk-link-style-no-visited-state;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: govuk-spacing(1);
    @extend .govuk-body;

    > * {
      margin: 0;
    }
  }
}
