//check answers

.wrap-answers {
  margin-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
  display: grid;
  grid-template-columns: 16rem 1fr 0.5fr;
  gap: 3rem;
}

@media (max-width: 600px) {
  .wrap-answers {
    display: block;
  }
}
