$govuk-header-background: govuk-colour("black");
$govuk-header-border-color: $govuk-brand-colour;
$govuk-header-text: govuk-colour("white");

$selector: dsn-header;

.#{$selector} {
  @include govuk-font($size: 16, $line-height: 1);
  @include govuk-font-size($size: 24, $line-height: 1);
  @include govuk-typography-weight-bold;
  color: $govuk-header-text;
  border-bottom: govuk-spacing(2) solid $govuk-header-border-color;
  background: $govuk-header-background;
  padding: govuk-spacing(3);
  background-color: govuk-colour("black");

  &__content {
    @include govuk-width-container();
    display: flex;
    flex-direction: column;
    gap: $govuk-gutter-half / 2;

    .#{$selector}--has-logo & {
      gap: $govuk-gutter-half;
    }

    @include govuk-media-query($from: desktop) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__logo-link {
    color: govuk-colour("white");
    text-decoration: none;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    > * {
      @include govuk-visually-hidden;
    }

    .#{$selector}--has-logo & {
      width: 100px;
      height: 31px;
    }
  }
}
