.wrap-about {
  max-width: 64rem;
}

.carousel-wrap {
  width: auto;
  margin-bottom: 20px;
  margin-right: 20px;
}

.carousel-image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin: 10px 0;
  max-width: 45rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
}

.wrap-comment-application {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

// impact style
.impact-wrap {
  background-color: #1d70b8;
  padding: 20px;
  margin: 20px -20px;
}

.impact-wrap * {
  color: white;
}

.impact-wrap > div {
  max-width: 64rem;
}

.impact-info {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 15px;
}

.impact-item-container {
  width: 19rem;
}

.wrap-impact-item {
  display: flex;
  justify-content: space-between;
}

.heading-center {
  align-self: center;
}

.large-margin-top {
  margin-top: -15px;
}

// process style
.process-wrap {
  padding: 20px 0;
}

.process-grid {
  margin-top: 20px;
  display: grid;
  max-width: 25rem;
  grid-template-columns: 0.75fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;
}

.process-grid > :last-child {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.wrap-grid-button {
  display: flex;
  gap: 50px;
}

.process-consultation {
  color: #1d70b8;
}

.process-consultation-result {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
}

.approved-status {
  background-color: #cce2d8;
  color: #005a30;
}

.rejected-status {
  background-color: #f6d7d2;
  color: #942514;
}

.default-status {
  background-color: #1d70b8;
  color: white;
}

.process-consultation-result span {
  padding: 5px 10px;
  font-weight: 700;
  align-self: center;
}

.application-days {
  grid-column-start: 1;
}

.wrap-secondary-button-image {
  display: flex;
  max-width: 22rem;
}

.wrap-button {
  display: flex;
  flex-direction: column;
}

.process-link {
  align-self: center;
}

@media (max-width: 600px) {
  .carousel-wrap {
    width: 100%;
  }

  .wrap-comment-application {
    display: none;
  }
  // .impact-details {
  //     grid-column-end: 3;
  // }

  .impact-info {
    gap: 2rem;
  }

  .impact-wrap {
    margin: 0 -20px;
    padding: 20px;
  }

  .process-consultation {
    grid-column-start: 1;
  }

  .wrap-secondary-button-image {
    display: flex;
    margin-bottom: 100px;
  }

  .wrap-button {
    position: fixed;
    bottom: 0;
    background: white;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid gray;
  }

  .wrap-grid-button {
    flex-direction: column;
    gap: 0;
  }
}
