.wrap-carousel-desktop {
    display: flex;
}

.wrap-comment-application {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 20px;
}

@media (max-width: 600px){
    .wrap-carousel-desktop {
        display: inline;
    }

    .wrap-comment-application {
        display: none;
    }
}