.wrap-feedback {
    background-color: #1D70B8;
    padding: 20px 100px;
    margin: 0 -100px 15px -100px;
}

.wrap-feedback * {
    color: white;
    max-width: 50rem;
}

.wrap-image-legend-feedback {
    display: flex;
    margin-bottom: 15px;
}

.wrap-image-legend-feedback h3 {
    padding-left: 20px;
}

// feeling style
.wrap-icons-feeling {
    display: flex;  
    justify-content: space-between;
    margin-bottom: 40px;
    max-width: 55rem;
}

.wrap-icons-feeling > div {
    display: flex; 
    flex-direction:column;
}

.wrap-icons-feeling > div > span {
    text-align: center;
    margin-top: 5px;
}

// impact style
.button-impact-question {
    margin-top: 20px
}
.impact-validation {
    border: 5px solid #D4351C; 
    margin-top: 20px; 
    padding:15px;
    max-width: 25rem;
    margin-bottom: 20px;
}

.impact-validation :last-child {
    color: #D4351C; 
    text-decoration: underline
}

// personal details
.wrap-personal-details {
    max-width: 50rem;
}

.consent-label {
    padding-top: 0;
    margin-bottom: 10px;
}

//check answers

.wrap-answers {
    margin-bottom: 10px; 
    border-bottom: 1px solid #B1B4B6; 
    display: grid;
    grid-template-columns: 16rem 1fr 0.5fr;
    gap: 3rem
}

// feedback message
.process-grid-message {
    margin: 20px 0 10px;
    display: grid;
    max-width: 380px;
    grid-template-columns: 0.75fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
}


.process-blue-title{
    color: #1D70B8;
}

.process-white-info {
    background-color: #1D70B8;
    color: white;
    padding: 5px 10px;

}

.process-blue-info {
    background: #D2E2F1; 
    color: #144E81;
    padding: 2px 8px;
    font-size: 14px;
}

.process-grid-message :nth-child(3) {
    margin-top: -10px;
}

.wrap-mesage-button {
    display: flex; 
    flex-direction: column
}

.wrap-mesage-button :first-child {
    margin-top: 20px; 
    max-width: 20rem; 
}

.wrap-mesage-button :last-child{
    color: black
}


@media (max-width: 600px){
    .wrap-feedback {
        margin-right: -20px;
        padding-right: 60px;
    }
    .wrap-answers {
        display: block;
    }
}