.wrap-home {
max-width: 55rem;
}

.search-grid {
    display: grid;
    grid-template-columns: 0.75fr 0.35fr 0.85fr;
    grid-template-rows: 1fr auto;
}

.grid-button-search {
    grid-column-start: 1;
    width: 8rem;
    font-size: 20px;
    font-weight: 600;
}
.grid-button-signup {
    grid-column-start: 3;
    grid-row-start: 1;
    height: 42px;
}

.wrap-planning-application {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.planning-application-link {
    display: flex; 
    flex-direction: column; 
    border-bottom: 2px solid #B1B4B6; 
    padding: 20px 0; 
    color: black; 
    text-decoration: none;
    justify-content: flex-end;
    width: 330px; 
}

.planning-application-text {
    display: flex;
    justify-content: space-between;
}

.pagination-button{
    color: #1D70B8; 
    background:transparent; 
    border: none; 
    text-decoration: underline
}

.active-page {
    background-color: #1D70B8;
    font-weight: 700; 
    color: white;
    padding: 5px 15px;
    margin: 10px;
}

.page-item {
    list-style-type: none;
    color: #1D70B8;
    text-decoration: underline;
    cursor: pointer;
    display:flex;
}
.page-link {
    padding: 10px 18px;
}

.wrap-pagination {
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 10px;
    min-width: 15rem;
}

.active {
   background-color:  #1D70B8;
   color: white;
   font-weight: 700;
   align-self: center;


}

@media (max-width: 900px){
    .search-grid {
        display: flex;
        flex-direction: column;
    }
}