body {
    margin: 0
    }
    

.layout-wrap {
        padding: 0 20px;
        margin: 0 auto;
        max-width: 1020px;
    }

.govuk-header__container {
    border-bottom: none;
    margin-left: 10px;
    }
    
.govuk-header {
        border-bottom: 10px solid #1D70B8;
        height: 70px;
    }
    
.govuk-header__logo {
        width: 100%;
        margin-top: 10px;
    }
    
.govuk-header__logotype {
        font-size: 24px;
        height: 32px;
        width: 21.5rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

.govuk-phase-banner {
        margin-bottom: 25px;
        padding: 10px;
    }
        
.govuk-phase-banner__content {
            width: 100%;
    }
    
.govuk-phase-banner__text {
            display: inline;
    }

@media (max-width: 600px){
    .layout-wrap {
        padding: 0 20px;
    }
    .govuk-header__container {
            margin-left: 10px;
            }
    
    .govuk-header__logotype {
            width: max-content;
            margin-top: 0;
        }
    
    .govuk-header__logotype-text {
            align-self: center;
            margin-left: 10px;
        }

    .govuk-phase-banner {
            padding: 10px 10px;
        }

    
    }